/* Scrollbar */
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    background-color: black;
}

.title {
    font-size: 500%;
    color: white;
}

/* Info */
#info-icon {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 3vw;
    filter: brightness(1);
    transition: all 0.1s ease;
    color: gray;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 250%;
    text-align: center;
}

#info-icon:hover {
    cursor: pointer;
    filter: brightness(2);
}

#info-card {
    overflow: hidden;
    position: fixed;
    top: 8rem;
    left: 14%;
    background-color: white;

    font-size: 90%;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.info-open {
    width: 72%;
    height: auto;
}

.info-closed {
    width: 0px;
    height: 0px;
}

#info-card img {
    width: 3%;
    top: 1%;
    right: 1%;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

#info-card img:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

#info-card div {
    margin: 5% 9%;
}
/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    position: relative;
    height: 0;
    padding-bottom: 25%;
    overflow: hidden;
}

.name {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 10vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    color: white;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 10.8vw 7.3vw;
    background-color: black;
    border: white solid .2vw;
}

.img-link {
    display: inline-block;
    height: 100%;
}

.img-link img{
    width: 100%;
    filter: grayscale(100%);
    transform: scale(1);
    transition: all 0.3s ease;
}

.img-link img:hover{
    transform: scale(1.2);
    filter: grayscale(0%);
}

.icon-link img{
    position: absolute;
    top: 4%;
    right: 4%;
    width: 8%;
    transition: all 0.1s ease;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
}

.icon-link img:hover{
    top: 3%;
    right: 3%;
    width: 10%;
    padding: .5%;
    margin: .5%;
}


.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}